<div class="edit-product">
  <h1>Editing product</h1>

  <div class="form-container">
    <%= render "form", product: @product %>
  </div>

  <div class="navigation-links">
    <%= link_to "Show this product", @product %> |
    <%= link_to "Back to products", products_path %>
  </div>
</div>
