<div class="new-product">
  <h1>New product</h1>

  <div class="form-container">
    <%= render "form", product: @product %>
  </div>

  <div class="navigation-link">
    <%= link_to "Back to products", products_path %>
  </div>
</div>
